.mc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 20px;
    
    transform: scale(3.5); 
    margin: 30px 0; 

    background-image: url('../assets/images/spritesheets/widgets.png');
    background-repeat: no-repeat;
    
    background-position: 0px -66px; 
    image-rendering: pixelated; 
    
    text-decoration: none;
}

.mc-button:hover {
    background-position: 0px -86px;
}

.mc-button:active {
    background-position: 0px -46px;
}

.mc-button span {
    color: #E0E0E0;
    font-size: 10px; 
    text-shadow: 1px 1px 0px #3F3F3F; 
    user-select: none;
}

.mc-button:hover span {
    color: #FFF555;
}

.mc-button:active span {
    color: #FFF555;
}

.mc-toggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 27px;
    height: 26px;
    
    transform: scale(2.5); 
    margin: 40px 20px; 

    background-image: url('../assets/images/spritesheets/Extra.png');
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    
    text-decoration: none;
}

.mc-toggleButton.audio{
    background-position: var(--x-pos) -1px; 
}
.mc-toggleButton.background{
    background-position: -1px -1px; 
}

.mc-toggleButton.return{
    background-position: -85px -1px; 
}


.mc-toggleButton.audio:hover {
    background-position: var(--x-pos) -27px; 
}

.mc-toggleButton.audio:active {
    background-position: var(--x-pos) -53px; 
}

.mc-toggleButton.background:hover {
    background-position: -1px -27px;
}

.mc-toggleButton.background:active {
    background-position: -1px -53px;
}

.mc-toggleButton.return:hover {
    background-position: -85px -27px; 
}

.mc-toggleButton.return:active {
    background-position: -85px -53px; 
}